language: swift
osx_image: xcode10.3

cache:
  directories:
  - Carthage

script:
- set -o pipefail
- swift --version
- rake
- bundle exec fastlane pass_tests
- bundle exec pod lib lint
- bundle exec danger